<nav class="navbar navbar-expand-md navbar-dark bg-dark pr-5 pl-5" style="margin-bottom: 100px;">
    <div class="container">
        <a class="navbar-brand" routerLink="search" id="brand">githubSearch<span
                style="color: rgb(0, 207, 0);">.</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navbar-nav">
                    <a class="nav-link" routerLink="search" routerLinkActive="active">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="aboutDeveloper" routerLinkActive="active">About Developer</a>
                </li>
            </ul>
        </div>
    </div>

</nav>