<h2 class="text-center mt-5">Search for a <span style="color: blue;">user</span> or <span style="color: blue;">repository</span>.</h2>
<div class="container d-flex justify-content-center">
    <form action="" #form="ngForm" autocomplete="off" class="w-100 text-center" (ngSubmit)="this.submit()">
        <input #input type="text" [(ngModel)]="query.query" name="query" class="m-3" required>
        <select name="type" id="" [(ngModel)]="query.type" class="m-3" required>
            <option value="User">User</option>
            <option value="Repository">Repository</option>
        </select>
        <button class="btn btn-dark m-3">Submit</button>
    </form>
</div>

<app-user-info *ngIf="this.check === true" [query]="this.query"></app-user-info>
<div *ngIf="this.check === false">repo component</div> <!-- Repo component placeholder-->